#Required
future
configparser
#Required by modules
bitstring
paramiko
pefile
pyclamd
python-magic
requests
ssdeep
#Required by API
flask
psycopg2
rarfile
sqlalchemy
sqlalchemy-utils
sqlalchemy-datatables
#Required by storage modules
elasticsearch
pymongo
#Required for distributed
celery
flask_cors
