#Required
future
#Required by modules
bitstring
paramiko
pefile
pyclamd
python-magic
requests
ssdeep
#Required by API
flask
sqlalchemy
flask_cors
#Required by storage modules
elasticsearch
pymongo
