#Required
future
#Required by modules
bitstring
paramiko
pefile
pyclamd
python-magic
requests
ssdeep
#Required by API
sqlalchemy
#Required by storage modules
elasticsearch
pymongo
#Required for distributed
celery[librabbitmq,redis]
