{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
<link rel="stylesheet" href="/static/css/buttons.bootstrap.min.css">
<script src="/static/js/bootstrap-tagsinput.min.js"></script>
<script src="/static/js/typeahead.bundle.min.js"></script>
<script src="/static/js/dataTables.buttons.min.js"></script>
{% endblock %}

{% block title %}About{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Version</h1>
    <div class="text-center">Multiscanner: v{{ version }}</div>
  </div>
</div>

{% endblock %}
