{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/buttons.bootstrap.min.css">
<script src="/static/js/dataTables.buttons.min.js"></script>
<script src="/static/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript">
  var table, search;
  {% if search_type %}
  var searchType = '{{ search_type }}';
  {% else %}
  var searchType = 'default';
  {% endif %}
  var lastType = searchType;

  function tasksSetup(apiLoc) {
    $.fn.dataTable.ext.errMode = 'none';
    table = $('.table')
      .on( 'error.dt', function ( e, settings, techNote, message ) {
        console.error( message );
    } ) .DataTable( {
      processing: true,
      serverSide: true,
      ajax: {
        "url": apiLoc + "/api/v1/tasks/search/history",
        "data": function ( d ) {
          return $.extend( {}, d, {"search_type": searchType} );
        }
      },
      order: [[0, 'desc']],
      search: {
        "search": "{{ search_term }}"
      },
      columnDefs: [
        {
          targets: 4,
          searchable: false,
          orderable: false,
          data: null,
          className: "text-center delete",
          "render": function ( data, type, full, meta ) {
            // Add Delete column buttons
            return '<button type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete this task?" data-id="' + data + '"><span class="glyphicon glyphicon-remove"></span></button>';
          },
        }
      ],
      rowCallback: function( row, data, index ) {
        if (data[3] != null) {
          data[3] = data[3].replace(' ', 'T');
        }
        if (data[2] == "Complete") {
          tr_class = ""
        } else {
          tr_class = " warning"
        }
        $(row).addClass("task-row" + tr_class);
        $(row).attr('data-href', '/report/' + data[0]);
      },
      drawCallback: function( settings ) {
        // Every time the table is loaded with new data...
        // ...make table rows clickable
        $("td").click(function() {
          // But not cells with a Delete button
          if ($(this).hasClass('delete')) {
            return;
          }
          var report_url = $(this).parent().data("href");
          var report_param = search.val();
          if (report_param != "") {
              report_url += "?st=" + report_param;
          }
          window.document.location = report_url;
        });

        // ...add tooltip to Delete buttons
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });

        // ...add delete functionality
        $('.btn-danger').click(function() {
          var t_id = this.dataset.id;
          $.ajax({
            url: apiLoc + "/api/v1/tasks/" + t_id,
            type: 'DELETE',
            success: function(data, status) {
              $('td').filter(function() {
                return this.innerHTML === t_id;
              }).parent().remove();
              $('.alert-row div:first').append('<div class="alert alert-dismissable alert-success fade in"><a href="javascript:;" class="close" data-dismiss="alert">&times;</a><strong>Success!</strong> <span>' + data.Message + '</span></div>');
            },
            error: function(data, status) {
              $('.alert-row div:first').append('<div class="alert alert-dismissable alert-danger fade in"><a href="javascript:;" class="close" data-dismiss="alert">&times;</a><strong>Error!</strong> <span>Task could not be deleted.</span></div>');
            }
          });
        });
      },
      buttons: [
        {
          text: '<i class="glyphicon glyphicon-refresh"></i>',
          titleAttr: 'Refresh',
          action: function ( e, dt, node, config ) {
            table.draw(false);
          }
        }
      ],
      "initComplete": function( settings, json ) {
        table.buttons().containers().appendTo('#DataTables_Table_0_length');

        // Add search type options
        searchOptions = $('<a class="btn btn-primary btn-sm collapsed" tabindex="0" id="search_options" href="javascript:;" title="Search Options" data-toggle="collapse" data-target="#search_type" aria-expanded="false" aria-controls="#search_type"><span><i class="glyphicon glyphicon-cog"></i></span></a>');
        $('#DataTables_Table_0_filter').append(searchOptions);
        searchTypeButtons = $('<div id="search_type" class="collapse">' +
            '<label for="search_type_buttons">Search Type:&nbsp;</label>' +
            '<div class="btn-group btn-group-sm" data-toggle="buttons" id="search_type_buttons">' +
            '<label class="btn btn-primary {% if search_type == 'default' or search_type is not defined %}active{% endif %}" title="Add wildcards to start and end of search term, to search as you type">' +
            '<input type="radio" name="search_type_buttons" id="default" value="default" autocomplete="off" {% if search_type == 'default' or search_type is not defined %}checked{% endif %}>Default' +
            '</label>' +
            '<label class="btn btn-primary {% if search_type == 'exact' %}active{% endif %}" title="Add quotes to start and end of search term, to search for the exact phrase">' +
              '<input type="radio" name="search_type_buttons" id="exact" value="exact" autocomplete="off" {% if search_type == 'exact' %}checked{% endif %}>Exact' +
            '</label>' +
            '<label class="btn btn-primary {% if search_type == 'advanced' %}active{% endif %}" title="Use the full power of Lucene query syntax; you must escape reserved characters yourself">' +
              '<input type="radio" name="search_type_buttons" id="advanced" value="advanced" autocomplete="off" {% if search_type == 'advanced' %}checked{% endif %}>Advanced' +
            '</label>' +
          '</div></div>');
        $('#DataTables_Table_0_filter').append(searchTypeButtons);
        $('#search_type :input').change(function() {
          searchType =  $('#search_type_buttons > .btn.active input').val();
          // TODO: maybe consider changing replaceState here to pushState
          history.replaceState({query: history.state == null ? '{{ search_term }}' : history.state.query,
                               type: searchType},
                               "",
                               "analyses");

          if (searchType != lastType) {
            // needed because we click on a searchType button in the popstate listener
            table.draw();
          }
          lastType = searchType;
        });
      }
    });
  }

  $(document).ready(function($) {
    tasksSetup("{{ api_loc }}");
    search = $('#DataTables_Table_0_filter input.form-control');

    {% if search_term %}
    history.replaceState({query: '{{ search_term }}',
                         type: searchType},
                         "",
                         "analyses");
    {% endif %}

    // Insert state into browser history when search term is entered
    search.on("input", function() {
      // Use timeout to "debounce" input and only trigger pushState when user is done typing
      clearTimeout($(this).data('timeout'));
      $(this).data('timeout', setTimeout(function() {
        history.pushState({query: search.val(),
                           type: searchType},
                           "",
                           "analyses");
      }, 250));
    });
    // Pop back to a previous search on browser back button
    window.addEventListener("popstate", function(e) {
      if (e.state) {
        search.val(e.state.query);
        $('#' + e.state.type).click();
        search.trigger('paste');
      }
    });
  });
</script>
{% endblock %}

{% block title %}Task History{% endblock %}

{% block content %}
<div class="row alert-row">
  <div class="col-md-6 col-md-offset-6"></div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">History</h1>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="5%">Task ID</th>
          <th width="60%">Sample</th>
          <th width="12%">Task Status</th>
          <th width="17%">Timestamp</th>
          <th class="text-center" width="6%">Delete</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
