{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/fileinput.min.css">
<script src="/static/js/fileinput.min.js"></script>
<script type="text/javascript">
  $(document).ready(function($) {
    $("#filesUpload").fileinput({
      uploadUrl: "http://{{ api_loc }}/api/v1/tasks/create/",
      browseOnZoneClick: true,
      allowedPreviewTypes: [],
      showUpload: false,
      browseLabel: "Select File(s) …",
      removeLabel: "Clear",
      removeClass: "btn btn-danger",
      layoutTemplates: {
        main1: '{preview}\n' +
          '<div class="kv-upload-progress hide"></div>\n' +
          '<div class="input-group {class}">\n' +
          '    {caption}\n' +
          '    <div class="input-group-btn">\n' +
          '        {remove}\n' +
          '        {cancel}\n' +
          '        {upload}\n' +
          '        {browse}\n' +
          '    </div>\n' +
          '</div>',
        actions: '<div class="file-actions">\n' +
          '    <div class="file-footer-buttons">\n' +
          '        {upload} {delete} {other}' +
          '    </div>\n' +
          '    {drag}\n' +
          '    <div class="file-upload-indicator" title="{indicatorTitle}">{indicator}</div>\n' +
          '    <div class="clearfix"></div>\n' +
          '</div>',
        footer: '<div class="file-thumbnail-footer">\n' +
            '<div class="file-preview-other">' +
            '<span class="file-other-icon"><i class="glyphicon glyphicon-file"></i></span>' +
            '</div>' +
            '    <div class="file-footer-caption" title="{caption}">{caption}<br>{size}</div>\n' +
            '    {progress} {actions}\n' +
            '</div>',
      },
      previewFileIcon: '',
      fileActionSettings: {
        removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
        removeClass: 'btn btn-xs btn-danger',
        uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
        uploadClass: 'btn btn-xs btn-primary',
      }
    });
  });
</script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row alert-row">
  <div class="col-md-6 col-md-offset-6"></div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Multiscanner</h1>
    <br />

    <form class="form-horizontal" id="scan-form" enctype="multipart/form-data">
      <fieldset>
        <legend>Submit Files For Analysis</legend>

        <div class="form-group">
          <div class="input-group col-md-12" id="file-group">
            <input type="file" class='file-loading' id="filesUpload" name="filesUpload" multiple></input>
          </div>
        </div>

        <div class="form-group text-center">
          <button type="button" class="btn-sm btn-default" id="btn-opts" data-toggle="collapse" data-target="#adv-options" aria-expanded="false" aria-controls="adv-options">Advanced Options</button>
        </div>
        <div  id="adv-options" class="collapse form-group text-center">
          <label for="metadata" class="col-md-2 control-label">Metadata</label>
          <div class="input-group col-md-10">
            <input type="text" class='form-control' id="metadata" name="metadata"></input>
          </div>
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn-lg btn-success">Scan it!</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}