{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">

  $(document).ready(function($) {
    $('#scan-form').submit(function (e) {
      e.preventDefault();
      var formData = new FormData($('#scan-form')[0]);
      $.ajax({
          url: 'http://{{ api_loc }}/api/v1/tasks/create/',
          type: 'POST',
          data: formData,
          //Options to tell jQuery not to process data or worry about content-type.
          contentType: false,
          processData: false,
      }).done(function(data, textStatus, jqXHR){
            $('.alert-row div:first').append('<div class="alert alert-dismissable alert-success fade in"><a href="#" class="close" data-dismiss="alert">&times;</a><strong>Success!</strong> Your file is being analyzed.</div>');
      }).fail(function(data, textStatus, jqXHR){
            $('.alert-row div:first').append('<div class="alert alert-dismissable alert-danger fade in"><a href="#" class="close" data-dismiss="alert">&times;</a><strong>Error!</strong> There was a problem with your request.</div>');
            console.log( data.statusText );
            console.log( jqXHR );
      });
    });

    $(".alert").hide();
    $(".alert").alert();
  });
</script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row alert-row">
  <div class="col-md-6 col-md-offset-6"></div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Multiscanner</h1>
    <br />
      <form class="form-horizontal" id="scan-form" enctype="multipart/form-data">
      <fieldset>
        <legend>Submit A File For Analysis</legend>

        <div class="form-group">
          <label for="uploadFileInfo" class="col-md-2 control-label">File</label>
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" class='form-control' id="uploadFileInfo"></input>
              <span class="input-group-btn">
                <label class="btn btn-primary" for="fileSelector">
                  <input id="fileSelector" name="file" type="file" style="display:none;" onchange="$('#uploadFileInfo').val($(this).val());">
                  Select File
                </label>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Scan it!</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}