{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
<script src="/static/js/bootstrap-tagsinput.min.js"></script>
<script src="/static/js/typeahead.bundle.min.js"></script>
<script type="text/javascript">
  function createRow(heading, content, isArray) {
    isArray = typeof isArray !== 'undefined' ? isArray : false;
    if (isArray) {
      headText = '';
    }
    else {
      headText = heading;
    }

    if (typeof content === 'string' && content.startsWith('<table')) {
      th = '<th class="expander">';
      td = '<td class="expander" style="display: none;">' + 
           'Expand ' +
           '<span class="glyphicon glyphicon-plus"></span>' +
           '</td><td class="cell-table">';
    }
    else {
      th = '<th>';
      td = '<td>';
    }

    return '<tr>' +
           th + headText + '</th>' +
           td + content + '</td>' +
           '</tr>';
  }

  function createSubtable(data, isArray) {
    isArray = typeof isArray !== 'undefined' ? isArray : false;
    rows = ''
    $.each(data, function(index, item) {
      if (isArray) {
        rows += determineType('', item);
      }
      else {
        rows += determineType(index, item);
      }
    });
    return '<table class="table table-hover"><tbody>' + rows +
           '</tbody></table>';
  }

  function determineType(index, item) {
    if (item === null || item === undefined) {
      return createRow(index, '<i>None</i>');
    }
    else if (item.constructor === Array) {
      return createRow(index, createSubtable(item, true));
    }
    else if (!(item instanceof String) && typeof item === 'object') {
      return createRow(index, createSubtable(item));
    }
    else {
      return createRow(index, item);
    }
  }

  function reportSetup(apiLoc, taskId) {
    // Get list of tasks and populate the table
    tasks_data = $.get("http://" + apiLoc + "/api/v1/tasks/report/" + taskId, function(data, status){
      $.each(data.Report, function(index, item) {
        $('tbody:first').append(determineType(index, item));
      });
      $('.expander').each(function(idx, elem) {
        $(elem).click(function() {
          $(this).siblings('td').toggle();
          if ($(this).is('td')) {
            $(this).hide();
          }
        });
      });
    });
  }

  $(document).ready(function($) {
    reportSetup("{{ api_loc }}", "{{ task_id }}");

    var tagNameArray = ['Amsterdam', "Ankara", 'Washington', 'Sydney', 'Beijing', 'Cairo'];
    var tagNames = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      // prefetch: {
      //   url: 'assets/citynames.json',
      //   filter: function(list) {
      //     return $.map(list, function(cityname) {
      //       return { name: cityname }; });
      //   }
      // }
      local: tagNameArray
    });
    tagNames.initialize();

    $('#tags').tagsinput({
      tagClass: 'label label-primary',
      typeaheadjs: {
        source: tagNames.ttAdapter()
      }
    });

    $('#tags').on('itemAdded', function(event) {
      console.log(event.item);
      tag_response = $.get("http://{{ api_loc }}/api/v1/tasks/tags/{{ task_id }}?add=" + event.item, function(data, status){
        return status;
      });
    });
  });
</script>
{% endblock %}

{% block title %}Report{% endblock %}

{% block content %}
<h1 class="text-center">Task {{ task_id }} Report</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3" id="report-tags">
    <label for="tags" class="pull-left">Tags</label>
    <span>
      <input type="text" id="tags" class="form-control">
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1" id="report">
    <table class="table table-hover ">
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %}