{% extends "layout.html" %}

{% block head %}
<script src="/static/js/report.js"></script>
<script type="text/javascript">
  $(document).ready(function($) {
    reportSetup("{{ api_loc }}", "{{ task_id }}");
  });
</script>
{% endblock %}

{% block title %}Report{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Task {{ task_id }} Report</h1>
    <br />

    <table class="table table-hover ">
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}