{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
<script src="/static/js/bootstrap-tagsinput.min.js"></script>
<script src="/static/js/typeahead.bundle.min.js"></script>
<script type="text/javascript">
  function createRow(heading, content, isArray) {
    // Return a row to add to a table
    isArray = typeof isArray !== 'undefined' ? isArray : false;
    if (isArray) {
      headText = '';
    }
    else {
      headText = heading;
    }

    if (typeof content === 'string' && content.startsWith('<table')) {
      th = '<th class="expander">';
      td = '<td class="expander" style="display: none;">' + 
           'Expand ' +
           '<span class="glyphicon glyphicon-plus"></span>' +
           '</td><td class="cell-table">';
    }
    else {
      th = '<th>';
      td = '<td>';
    }

    return '<tr>' +
           th + headText + '</th>' +
           td + content + '</td>' +
           '</tr>';
  }

  function createSubtable(data, isArray) {
    // Return a table to be nested within a row
    isArray = typeof isArray !== 'undefined' ? isArray : false;
    rows = ''
    $.each(data, function(index, item) {
      if (isArray) {
        rows += determineType('', item);
      }
      else {
        rows += determineType(index, item);
      }
    });
    return '<table class="table table-hover"><tbody>' + rows +
           '</tbody></table>';
  }

  function determineType(index, item) {
    // Add a row to the table bases on an item's data type
    if (item === null || item === undefined) {
      return createRow(index, '<i>None</i>');
    }
    else if (item.constructor === Array) {
      return createRow(index, createSubtable(item, true));
    }
    else if (!(item instanceof String) && typeof item === 'object') {
      return createRow(index, createSubtable(item));
    }
    else {
      return createRow(index, item);
    }
  }

  function displayNote(data) {
    // Display the note passed in
    var text = data._source.text;
    var ts = data._source.timestamp;
    var panel = $('<div class="panel panel-default">')
      .append($('<div class="panel-heading"><span>' + ts + '</span></div>'))
      .append($('<div class="panel-body">' + text + '</div>'));
    $('#note-container').append(panel);
  }

  $(document).ready(function($) {
    // Get list of tasks and populate the table
    tasks_data = $.get("http://{{ api_loc }}/api/v1/tasks/report/{{ task_id }}", function(data, status){
      tags = data.Report.tags;
      delete data.Report.tags;
      $('#tags').val(tags.toString());

      $.each(data.Report, function(index, item) {
        $('tbody:first').append(determineType(index, item));
      });
      $('.expander').each(function(idx, elem) {
        $(elem).click(function() {
          $(this).siblings('td').toggle();
          if ($(this).is('td')) {
            $(this).hide();
          }
        });
      });
      
      // Set up tags
      var tagNameArray = [];
      $.get("http://{{ api_loc }}/api/v1/tags/", function(data, status) {
        buckets = data.Tags.aggregations.tags_agg.buckets;
        $.each(buckets, function( index, value ) {
          tagNameArray.push(value.key);
        });
        var tagNames = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: tagNameArray
        });
        tagNames.initialize();

        $('#tags').tagsinput({
          tagClass: 'label label-primary',
          typeaheadjs: {
            source: tagNames.ttAdapter()
          }
        });
        $('#tags').on('itemAdded', function(event) {
          tag_response = $.get("http://{{ api_loc }}/api/v1/tasks/tags/{{ task_id }}?add=" + event.item, function(data, status){
            return status;
          });
        });
        $('#tags').on('beforeItemRemove', function(event) {
          tag_response = $.get("http://{{ api_loc }}/api/v1/tasks/tags/{{ task_id }}?remove=" + event.item, function(data, status){
            return status;
          });
        });
        $('.bootstrap-tagsinput').attr("data-toggle", "tooltip")
          .attr("title", "Type something and hit the enter key to add a tag.")
          .attr("data-placement", "left")
          .tooltip();
      })
    });

    // Get notes
    $.get("http://{{ api_loc }}/api/v1/tasks/{{ task_id }}/notes", function(data, status){
      $('#note-container').empty();
      var notes_list = data.hits.hits;
      notes_list.forEach(function (item) {
        displayNote(item);
      });
    });

    // Handle submission of notes
    $('#note-form').submit(function( event ) {
      text = {"text": $('#note-input').val()}
      $.post("http://{{ api_loc }}/api/v1/tasks/{{ task_id }}/note", text, function(data, status){
        displayNote(data);
        return status;
      });
      event.preventDefault();
    });
  });
</script>
{% endblock %}

{% block title %}Report{% endblock %}

{% block content %}
<h1 class="text-center">Task {{ task_id }} Report</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3" id="report-tags">
    <label for="tags" class="pull-left">Tags</label>
    <span>
      <input type="text" id="tags" class="form-control">
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1" id="report">
    <table class="table table-hover ">
      <tbody></tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3" id="report-notes">
    <div id="note-container"></div>
    <form id="note-form">
      <div class="form-group">
        <label for="note-input">Add a Note/Comment:</label>
        <textarea class="form-control" rows="5" id="note-input"></textarea>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}