{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">
  function createTaskRow(row) {
    return '<tr class="task-row" data-href="/report/' + row.task_id + '">' +
           '<td>' + row.task_id + '</td>' +
           '<td>' + row.report_id + '</td>' +
           '<td>' + row.task_status + '</td>' +
           '<td class="text-center delete">' +
           '<button type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete this task?" data-id="' + row.task_id + '"><span class="glyphicon glyphicon-remove"></span></button>' +
           '</td></tr>';
  }

  function tasksSetup(apiLoc) {
    // Get list of tasks and populate the table
    tasks_data = $.get("http://" + apiLoc + "/api/v1/tasks/list/", function(data, status){
      // Add rows to the table
      $.each(data.Tasks, function(index, item) {
        $("tbody").append(createTaskRow(item));
      });

      // Make table rows clickable
      $("td").click(function() {
        // But not cells with a Delete button
        if ($(this).hasClass('delete')) {
          return;
        }
        window.document.location = $(this).parent().data("href");
      });

      // Add tooltip to Delete buttons
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      // Add delete functionality
      $('.btn-danger').click(function() {
        var t_id = this.dataset.id;
        $.get("http://" + apiLoc + "/api/v1/tasks/delete/" + t_id)
          .done(function (data, status, jqXHR) {
            $('td').filter(function() {
              return this.innerHTML === t_id;
            }).parent().remove();
            $('.alert-row div:first').append('<div class="alert alert-dismissable alert-success fade in"><a href="#" class="close" data-dismiss="alert">&times;</a><strong>Success!</strong> <span>' + data.Message + '</span></div>');
          })
          .fail(function (data, status, jqXHR) {
            $('.alert-row div:first').append('<div class="alert alert-dismissable alert-success fade in"><a href="#" class="close" data-dismiss="alert">&times;</a><strong>Success!</strong> <span>Task could not be deleted.</span></div>');
          });
      });
    });

    $(".alert").hide();
    $(".alert").alert();
  }

  $(document).ready(function($) {
    tasksSetup("{{ api_loc }}");
  });
</script>
{% endblock %}

{% block title %}Task List{% endblock %}

{% block content %}
<div class="row alert-row">
  <div class="col-md-6 col-md-offset-6"></div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Tasks</h1>
    <br />

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Report ID</th>
          <th>Task Status</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}