{% extends "layout.html" %}

{% block head %}
<script src="/static/js/tasks.js"></script>
<script type="text/javascript">
  $(document).ready(function($) {
    tasksSetup("{{ api_loc }}");
  });
</script>
{% endblock %}

{% block title %}Task List{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Tasks</h1>
    <br />

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Report ID</th>
          <th>Task Status</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}