.task-row td:not(.delete) {
    cursor: pointer;
}

@media (min-width: 768px) {
  .navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.alert-row {
    position: absolute;
    right: 20px;
    z-index: 1;
}

#report table {
    width: auto;
    font-size: 13px;
}

#report th {
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

#report td {
    white-space: pre-line;
}

#report td > table {
    margin-bottom: 0px;
}

#report .table > tbody > tr:first-of-type > th,
#report .table > tbody > tr:first-of-type > td {
    border-top: 0px;
}

#report td.cell-table {
    padding-top: 0px;
}

.expander {
    cursor: pointer;
}
