.task-row td:not(.delete) {
    cursor: pointer;
}

@media (min-width: 768px) {
  .navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.alert-row {
    position: absolute;
    right: 20px;
    z-index: 1;
}

.container {
    margin-bottom: 20px;
}

#report-container {
    transition: .5s ease-out;
}

#report-container.pushed {
    transition: .5s ease-out;
    transform: translateX(300px);
}

#report-tags {
    display: table;
}

#report-tags label {
    display: table-cell;
    padding-top: 7px;
    vertical-align: bottom;
}

#report-tags > span {
    padding-left: 15px;
    display: table-cell;
    width: 100%;
    vertical-align: top;
}

#report-tags .bootstrap-tagsinput {
    width: 100%;
}

#report-tags .tag.label {
    font-size: .9em;
    background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -o-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6d94bf), color-stop(50%, #446e9b), to(#3e648d));
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
}

#report table {
    width: auto;
    font-size: 13px;
}

#report th {
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

#report td {
    white-space: pre-line;
}

#report td > table {
    margin-bottom: 0px;
}

#report .table > tbody > tr:first-of-type > th,
#report .table > tbody > tr:first-of-type > td {
    border-top: 0px;
}

#report td.cell-table {
    padding-top: 0px;
}

.expander {
    cursor: pointer;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus,
.tt-suggestion.tt-cursor {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

#report-notes {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1s ease-out;
    background-color: #a1b6cd;
    color: #444;
    box-shadow: 10px 0px 10px rgba(140, 140, 140, 0.66);
}

#report-notes.open {
    width: 400px;
    padding: 20px;
}

#notes-btn {
    /*float: right;*/
    position: fixed;
    left: 0;
    border-radius: 0 20px 20px 0;
    padding-right: 20px;
}

#report-notes .panel {
    margin-bottom: 0;
}

#report-notes .panel-heading span {
    font-size: 13px;
}

#note-container {
    margin-bottom: 20px;
}
