.task-row td:not(.delete) {
    cursor: pointer;
}

@media (min-width: 768px) {
  .navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.alert-row {
    position: absolute;
    right: 20px;
    z-index: 1;
}