{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
  function createGroupRows(index, group, apiLoc) {
    //$("tbody").append('<tr class="group-header"><td>Group ' + index + '</td></tr>')
    for (i=0; i<group.length; i++) {
      $.ajax({
        url: apiLoc + '/api/v1/tasks/search',
        data: { 'sha256': group[i] },
        success: function(data) {
          $("tbody").append('<tr class="task-row" data-href="/report/' + data.TaskID + '"><td>' + index + '</td><td>' + group[i] + '</td></tr>');
        },
        async: false
      });
    }
  }

  function ssdeepGroups(apiLoc) {
    // Get list of tasks and populate the table
    tasks_data = $.get(apiLoc + "/api/v1/analytics/ssdeep_group", function(data, status){
      // Add rows to the table
      $.each(data.groups, function(index, item) {
        //$("tbody").append(createGroupRows(index, item, apiLoc));
        createGroupRows(index, item, apiLoc);
      });

      // Make table rows clickable
      $("td").click(function() {
        // But not cells with a Delete button
        if ($(this).parent().hasClass('group-header')) {
          return;
        }
        window.document.location = $(this).parent().data("href");
      });

      // Spruce up the table
      $('.table').DataTable({
        "pageLength": 25
      });
    });
  }

  $(document).ready(function($) {
    ssdeepGroups("{{ api_loc }}");
  });
</script>
{% endblock %}

{% block title %}Analytics{% endblock %}

{% block content %}
<div class="row alert-row">
  <div class="col-md-6 col-md-offset-6"></div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">SSDeep Groups</h1>
    <br />

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th width="10%">Group</th>
          <th>SHA256</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
